/***************************** Default *****************************/
.section-tb-pad{
	padding-top: 5rem;
	padding-bottom: 5rem;
}

a.e-btn{
	text-transform: none;
}

.school-instructor-quote{
	padding-bottom: 15px;
}


element {

}
.hero__quote-animation {

    animation-duration: 5s;

}
.school-instructor-quote {

    padding-bottom: 15px;

}

@media only screen and (min-width: 1200px) and (max-width: 1399px){

  .school-instructor-quote{
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
  }

}

#main_blink_text{
  padding: 10px 20px;
  background-color: #fff;
  max-width: 140px;
  margin-bottom: 1rem;
  border-radius: 6px;
  box-shadow: 0px 8px 24px -13px #2b4eff;
}


/****************************** Header ******************************/

.header__search input{
  background: #2b4eff1c;
}

.header__transparent {
  padding-top: 20px;
  padding-bottom: 20px;
}

button.search-icon{
	position: absolute;
	left: auto;
	right: 20px;
	padding-left: 18px;
}

button.search-icon::after {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  width: 2px;
  height: 30px;
  background: #dbdfe9;
}

input.search-input{
  width: 100%;
  max-width: 280px;
	padding: 25px 65px 20px 20px;
	background: #f9f9f9;
}

.sidebar__search input {
  padding-left: 36px;
}

.sidebar__content .sidebar__cart{
  position: absolute;
  top: 133px;
  right: 45px;
}
/****************************** Sidebar ********************************/

.sidebar__search button {
  position: absolute;
  top: 56%;
  right: auto;
  left: 13px;
}

/******************************* Main *********************************/



/******************************* Proud ********************************/
.counter-items-cust{
	/*margin-left: auto; 
	margin-right: auto;*/ 
  background-color: #f3f4f8;
  padding: 2rem;
  border-radius: 10px;
}

/****************************** sch-courses-section *************************/

.sch-courses-section .course__item .course__thumb img{
  max-height: 237px;
}


/*************************************************************************/

.hero__quote-animation {
  animation-duration: 5s;
}


/*************************************************************************/

.course__tag {
  position: absolute;
  top: 22px;
  left: -3px;
  transform: rotate(-36deg);
}

/**************************** Footer ************************************/
.footer__copyright p {
  color: #fff;
}

/**************************** PQ Section *******************************/

#floating-icon {
  position: absolute;
  right: 5px;
  top: 37%;
  z-index: 2;
}

#floating-icon button {
  position: relative;
  width: 130px;
  text-transform: capitalize;
  padding: 10px 10px;
  border-radius: 10px ;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #0e1133;
  /*right: -122px;*/
  text-decoration: none;
  margin-bottom: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 85px;
  background: transparent;
  transition: .5s;
}

#floating-icon img{
  /*margin-right: 10px;*/
}

#floating-icon button:hover{
  right: 0;
  box-shadow: 0px 0px 11px -3px rgb(60, 50, 60);
  transition: .5s;
}

#floating-icon button:hover > img{
  width: 40px;
  transition: .5s;
}

@media screen and (max-width: 992px){
  #floating-icon button:focus{
    right: 0;
    transition: .5s;
  }
}

/*.pq-section{
  position: fixed;
  top: 40%;
  right: 2rem;
  width: 200px;
  z-index: 1500;
  border-radius: 3px;
}*/

/*.cust-fixed-btn{
  right: -10rem;
  text-align: left;
  width: 170px;
  text-transform: capitalize;
  padding: 0 15px 0 15px;
}

.cust-fixed-btn:hover{
  right: 1rem;
}

.cust-fixed-btn i{
  margin-right: 10px;
}*/

/*.fixed-pq-btn{
  margin-bottom: 20px;
  position: fixed;
  top: 32%;
  right: 2rem;
  z-index: 151;
}*/

/*.fixed-champ-btn{
  position: fixed;
  top: 45%;
  right: 2rem;
  z-index: 151;
}*/


.hide-pq-dropdown{
  position: absolute;
  top: 50%;
  right: 10px;
  display: none;
  padding: 15px 0px 1px 5px;
  z-index: 2;
  /*background: #6470b0;*/
}

.hide-pq-dropdown .form-group{
  display: none;
}

.hide-pq-dropdown .form-group{
  margin-bottom: 1rem;
}

.school-main-video{
  width: 400px;
  height: 225px;
  border-radius: 40px 4px 40px 4px;
}

.modal-content{
  border-radius: 1rem;
}

.modal-header .close{
  background: none;
  font-size: 25px;
}

.modal-header .close:hover{
  transform: scale(1.2);
  transition: .4s;
}

@media screen and (max-width: 425px){
  .school-main-video{
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
}