.logo-section{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;
	width: 100%;
	/*background-color: #f5f5f5;*/
	padding: 0 2rem;
	margin-bottom: 3rem;
}

.main-section{
	position: fixed;
	bottom: 0
	background:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	overflow: auto;
	/*padding: 1rem;*/
}

.main-section:before{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../video/bg-video.mov');
}

#video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	object-fit: cover;
}

.section-block{
	border: 1px solid #252525;
	border-radius: 10px;
}

.section-block .img-section img{
	border-radius: 10px 10px 0 0;
}

.teacher__title sup{
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: 600;
}
/***************************************************************/
.parent-dir{
	border: 1px solid #c3b39c;
	border-radius: 5px;
	padding: 1rem;
	text-align: center;
	margin-top: 1rem;
}


/******************************************************************/